.input {
    width: 100%;
    background: none;
    border: none;
    outline: none;
    color: #FFF;
    font-size: 16px;
}

.input-title {
    font-size: 40px !important;
}

.invalid-title {
    border-bottom: 1px solid rgba(255, 0, 0, 0.445);
}

.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus,
.input:-webkit-autofill:active {
    box-shadow: 0 0 0 30px #181818 inset !important;
    -webkit-text-fill-color: #FFF;
}